#window {
   background-color: #fdf6e3;
   border-style: solid;
   border-width: 2px;
   border-color: #eee8d5;
   font-family: "Liberation Mono";
   font-weight: bold;
}
#input {
   background-color: #eee8d5;
   border-color: #eee8d5;
   border-radius: 0px;
   box-shadow: 2px 2px #eee8d5;
   color: #586e75;
}
#text {
   color: #586e75;
}
#entry:selected {
   background-color: #eee8d5;
}
#expander-box {
   background-color: #eee8d5;
}
